
.card-link{
    color: #17a2b8;
    font-weight: bold;
    font-size: 17px;
}

.card-link:hover{
    color: orange;
}

.cardTitle{
    font-size: 27px;
    margin-bottom: 1vw;
}

i{
    font-size: 7vw;
    margin: 1vw 0 1.5vw 0;
}

a:not([href]):not([tabindex]) {
    color: #17a2b8;
}

.icon:hover{
    cursor: -webkit-grabbing; 
    cursor: grabbing;
}

.card-header{
    width: 100%;
}

#restaurants, #attractions, #events, #favorites{
    width: 100%;
    /* height: 410px; */
    display: inline-flex;
    /* flex-direction row will diplay the flexible items horizontally as one row  */
    flex-direction: row;
    /* any overflow vertically will be hidden */
    overflow-y: hidden;
    /* any overflow horizonatally will be visible when user scrolls horizontally */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    /* margin-bottom: 1vw;
    padding-bottom: 0.7vw; */
}


@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px)  {
}

@media screen and (max-width: 640px) {
}