.weatherIcon{
    float: right;
    margin-top: -10px;
}

.wDescription{
    float: right;
}

.cityDisplay{
    display: inline-block;
}

#restaurants, #attractions, #events, #favorites{
    width: 100%;
    display: inline-flex;
    /* flex-direction row will diplay the flexible items horizontally as one row  */
    flex-direction: row;
    /* any overflow vertically will be hidden */
    overflow-y: hidden;
    /* any overflow horizonatally will be visible when user scrolls horizontally */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.rCard, .aCard, .eCard{
    min-width: 250px;
    position: relative;
}

.rCard, .aCard{
    height: 330px;
}

.eCard{
    height: 390px;

}

.card-link{
    color: #17a2b8;
    font-weight: bold;
    font-size: 17px;
}

.card-link:hover{
    color: orange;
}

.cardTitle{
    font-size: 27px;
    margin-bottom: 1vw;
}

i{
    font-size: 7vw;
    margin: 1vw 0 1.5vw 0;
}

a:not([href]):not([tabindex]) {
    color: #17a2b8;
}

.dragIcon:hover{
    cursor: -webkit-grabbing; 
    cursor: grabbing;
}

.dragIcon{
    color: grey;
}

.card-header{
    width: 100%;
}

.imgHeight{
    height: 100px;
}

.smallerTitle{
    font-size: 1.1rem;
}

.categoryMB{
    margin-bottom: 0.5rem;
}

.capitalize{
    text-transform: capitalize;
}

.pageLink{
    color: orange;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom:0.5rem;
    margin-top:0.5rem;
}

.colorGreen{
    color: green;
}

.colorRed{
    color: red;
}


@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px)  {
}

@media screen and (max-width: 640px) {
}